/*//2///*/
.txt{
    text-align: center;
    
}
.feri{
    background-color: green;
}
/*//1///*/

.background{
background-color: silver
}
.feri    {
    background-color: rgb(48, 192, 48);
}
.witeli{
    background-color: red;
}
.lurji{
    background-color: blue;
}
.tetri{
    background-color: white;
    margin-left: 10px;
}