.table{
    border: solid 2px;
    width: 1000px;
    margin: auto;
}
.table tbody td{
    border: solid 2px;
    height: 25px;

}
.table thead th{
    border: solid 2px black;
    height: 100px;
    text-align: left;
 }
 .meeqvse{
    height: 500px;
 }
 .tb{
     width:200px ;
 }

 